<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<!-- <link rel="icons" href="/image.png"> -->
<body>
    <!-- 2.Post REST -->
    <form method="post" action="/posts" >
        <input type="text" name="username" placeholder="username">
        <br>
        <br>
        <textarea name="content" placeholder="enter something"></textarea>
        <br>
        <button>Submit!</button>
    </form>
</body>
</html>